{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Quiz</title>
{% endblock %}

{% block content %}
<div style="position: relative; bottom: 50px;">
    <aside style="background: linear-gradient(90deg, wheat, black, wheat); float: right;" class="col-md-4 blog-sidebar">
        <section id="app" class="hero is-info is-fullheight is-bold">
            <h2 style="text-align: center; color: cyan;">Welcome [[ name ]]</h2>
            <b style="position: relative; left: 50px; color: wheat;" class="m-2">Bonus: <span
                    style=" font-weight: bold; color: green;">+5
                    seconds</span> for your purchase!</b>
            <div class="p-4 mb-3 bg-light rounded">
                <div class="hero-body">
                    <p
                        style="font-weight: bold; text-align: center; border: red solid; border-radius: 50px; background-color: black; color: cyan;">
                        Your [[difficulty ]] minute(s) is started</p>

                    <div class="container has-text-centered">

                        <div style="text-align: center; font-size: 40px;" id="timer">
                            <span id="minutes">[[ minutes ]]</span>
                            <span id="middle">:</span>
                            <span id="seconds">[[ seconds ]]</span>
                        </div>

                        <div id="buttons">
                            <!--     Start TImer -->
                            <button id="start" class="button is-dark is-large" v-if="!timer" @click="startTimer">
                                <i class="far fa-play-circle"></i>
                            </button>
                            <!--     Pause Timer -->
                            <button id="stop" class="button is-dark is-large" v-if="timer" @click="stopTimer">
                                <i class="far fa-pause-circle"></i>
                            </button>
                        </div>

                    </div>
                </div>
                {% for object in queryset2 %}
                {{ object.name|json_script:"name" }}
                {{ object.difficulty|json_script:"difficulty" }}
                {% endfor %}
            </div>
        </section>
    </aside>

    <h1 class="ml-4">Quiz</h1>
    <hr>
    <div class="container">
        {% for result in queryset1 %}
        {% if result.id <= 10 %}
        <table id="table">
            <tr>
                <td>{{ result.id }}) {{ result.question }}</td>
            </tr>
            <tr>
                <td><input type="radio" id="answer1" class="rb" name="{{ result.id }}"
                        value="{{ result.answer1 }}">{{ result.answer1 }}</td>
            </tr>
            <tr>
                <td><input type="radio" id="answer2" class="rb" name="{{ result.id }}"
                        value="{{ result.answer2 }}">{{ result.answer2 }}</td>
            </tr>
            <tr>
                <td><input type="radio" id="answer3" class="rb" name="{{ result.id }}"
                        value="{{ result.answer3 }}">{{ result.answer3 }}</td>
            </tr>
            <tr>
                <td><input type="radio" id="answer4" class="rb" name="{{ result.id }}"
                        value="{{ result.answer4 }}">{{ result.answer4 }}</td>
            </tr>
            <tr>
                <td>
                    <label class="rb" style="display: none; color: rgb(0, 170, 0);" id="c-answer">The Correct Answer
                        is: <button style="border-radius: 50%;" value="{{result.c_answer}}"
                            class="btn btn-outline-success">{{result.c_answer}}</button></label>
                </td>
            </tr>
            <hr>
        </table>


        {% endif %}
        {% endfor %}
        <hr>
        <input type="submit" value="Submit" id="btn1" onclick="getanswers()">

        <hr>
    </div>

    <script>
        var name = JSON.parse(document.getElementById('name').textContent)
        var difficulty = JSON.parse(document.getElementById('difficulty').textContent)

        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: '#app',
            data: {
                name: name,
                difficulty: difficulty,
                timer: null,
                totalTime: (difficulty * 60 + 5),
                resetButton: false,
            },
            methods: {
                startTimer: function () {
                    this.timer = setInterval(() => this.countdown(), 1000);
                    this.resetButton = true;
                },
                stopTimer: function () {
                    clearInterval(this.timer);
                    this.timer = null;
                    this.resetButton = true;
                },
                padTime: function (time) {
                    return (time < 10 ? '0' : '') + time;
                },
                countdown: function () {
                    if (this.totalTime >= 1) {
                        if (this.totalTime == 3) {
                            Swal.fire(
                                'Sorry You Are Out Of Time',
                                'danger'
                            )
                        }
                        this.totalTime--;
                    } else {
                        this.totalTime = 0;
                        location.href = "http://127.0.0.1:8000/product/";
                        this.resetTimer()
                    }
                }
            },
            computed: {
                minutes: function () {
                    const minutes = Math.floor(this.totalTime / 60);
                    return this.padTime(minutes);
                },
                seconds: function () {
                    const seconds = this.totalTime - (this.minutes * 60);
                    return this.padTime(seconds);

                },
            }
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $("#btn1").click(function () {
            $(document).ready(function () {
                $(".rb").show();
                $(".rb").attr("disabled", true);
            });
        });
        function getanswers() {

            Swal.fire(
                'Good job!',
                'The Correct Answers Are Waiting for You',
                'success'
            )
            var total = 0
            var e = document.getElementsByTagName("input")
            for (i = 0; i <= e.length; i++) {
                if (e[i].type == "radio") {
                    if (e[i].checked) {
                        document.getElementById("UserAnswer").innerHTML += e[i].name + ". Your answer is: " + e[i].value + "<br>";
                    }
                }
            }
        }
    </script>
</div>

{% endblock content %}